<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="TEST" class="ch.qos.logback.core.FileAppender">
        <file>logs/test.log</file>
        <encoder>
            <pattern>%d{ISO8601} %highlight(%-5level) %magenta([%-10.10thread]) %cyan(%-36logger) : %msg%n</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="TEST"/>
    </root>
</configuration>
